

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

a {
  color: #f4623a;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #b2330f;
  text-decoration: none;
}


.btn-primary {
  color: #fff;
  background-color: #f4623a;
  border-color: #f4623a;
}
.btn-primary:hover {
  color: #fff;
  background-color: #f24516;
  border-color: #ee3e0d;
}
.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #f24516;
  border-color: #ee3e0d;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #f4623a;
  border-color: #f4623a;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ee3e0d;
  border-color: #e23a0d;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
}


hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: #f4623a;
}

hr.light {
  border-color: #fff;
}


/*-- Navbar --*/

#mainNav {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  -webkit-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
#mainNav .navbar-brand {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #212529;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: #6c757d;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.75rem 0;
}
#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #f4623a;
}
#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #f4623a !important;
}
@media (min-width: 992px) {
  #mainNav {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-scrolled {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  #mainNav.navbar-scrolled .navbar-brand {
    color: #212529;
  }
  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: #f4623a;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #212529;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #f4623a;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 77, 66, 0.8)), to(rgba(92, 77, 66, 0.8))), url("https://cdn.pixabay.com/photo/2018/11/22/23/57/london-3833039_960_720.jpg");
  background: -o-linear-gradient(top, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("https://cdn.pixabay.com/photo/2018/11/22/23/57/london-3833039_960_720.jpg");
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("https://cdn.pixabay.com/photo/2018/11/22/23/57/london-3833039_960_720.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
header.masthead h1 {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem;
  }
}

/*-- About us --*/
 
.about-us-box {
  margin-top: 100px;
}

.about-us-box-text {
  padding-right: 30px;
  text-align: left;
}

.about-us-box-text h3 {
  margin-top: 0;
}

.about-us-box-text .medium-paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-us-box-text a {
  border-bottom: 1px dashed #9b59b6;
}

.about-us-box-text a:hover,
.about-us-box-text a:focus {
  border: 0;
}

.about-us-box-img img {
  border-radius: 50px;
}

.profile-img {
  min-width: 100px;
}


/*-- Services --*/

.services{
  background: #f5f5f5;
}

.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0;
  background: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  text-align: center;
  border-bottom: 3px solid #fff;
}

.services .icon-box:hover {
  -webkit-box-shadow: 0 2px 29px 0 rgba(37, 37, 37, 0.1);
          box-shadow: 0 2px 29px 0 rgba(37, 37, 37, 0.1);
}

.services .icon i {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #111;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.educate {
  color: #ff689b;
  font-size: 48px;
  padding-bottom: 10px;
}

.ielts {
  color: #3fcdc7;
  font-size: 48px;
  padding-bottom: 10px;
}

.cambridge {
  color: #41cf2e;
  font-size: 48px;
  padding-bottom: 10px;
}

.business {
  color: #2282ff;
  font-size: 48px;
  padding-bottom: 10px;
}


/*-- Why-me --*/


.why-me  h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

 .why-logo  {
  font-size: 48px;
  float: left;
  color: #f4623a;
}

.why-me  p {
  font-size: 15px;
  color: #959595;
  margin-left: 60px;
}

.why-me .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*-- Clients --*/
.clients {
  background: #f5f5f5;
  padding: 15px 0;
  text-align: center;
}

.clients img {
  width: 50%;
  -webkit-filter: grayscale(100);
  filter: grayscale(100);
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}

.clients img:hover {
  -webkit-filter: none;
  filter: none;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 768px) {
  .clients img {
    width: 40%;
  }
}

@media (max-width: 575px) {
  .clients img {
    width: 50%;
  }
}


/*-- Contact --*/
 
 .email-form {
  width: 100%;
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  padding: 30px;
  background: #fff;
}
.email-form .form-group {
  padding-bottom: 8px;
}

 .email-form input, .contact .email-form textarea {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
}

 .email-form input {
  height: 44px;
}

 .email-form textarea {
  padding: 10px 12px;
}

 .email-form button {
  background: #f03c02;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 4px;
}


/*-- Footer --*/

footer {
  background: #16222A;
  background: -o-linear-gradient(31deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A);
  color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

footer a:hover {
  color: #f4623a;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}




/*-- footer social icons --*/

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/*-- footer social icons --*/

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoInstagram:hover {
  background-color: #c32aa3;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}



/*-- Resources --*/


.masthead-resources {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 77, 66, 0.8)), to(rgba(92, 77, 66, 0.8))), url("../img/book.jpg");
  background: -o-linear-gradient(top, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/book.jpg");
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/book.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}


.bbc-icon {
  color: #FFC000;
  font-size: 48px;
  padding-bottom: 10px;
}

.duolingo-icon {
  color: #41cf2e;
  font-size: 48px;
  padding-bottom: 10px;
}

.flo-icon {
  color: #08f7fe;
  font-size: 48px;
  padding-bottom: 10px;
}

.lyrics-icon {
  color: #7122fa;
  font-size: 48px;
  padding-bottom: 10px;
}

.ted-icon {
  color: #ff9472;
  font-size: 48px;
  padding-bottom: 10px;
}

.mocha-icon {
  color: #037a90;
  font-size: 48px;
  padding-bottom: 10px;
}

.news-icon {
  color: #d9eb4b;
  font-size: 48px;
  padding-bottom: 10px;
}

.library-icon {
  color: #f21a1d;
  font-size: 48px;
  padding-bottom: 10px;
}
